<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>preloader}}
	{{>top-bar}}
    {{>header}}

	{{>banner}}

    {{>about}}
    {{>testimonials}}
    {{>footer}}
    {{>copyrights}}
    
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/portfolio.js"></script>
    <script src="js/hoverdir.js"></script>    

</body>
</html>